<%- include('./layout/header') %>
    <%- include('./components/navbar') %>
        <main>
            <div class="uk-container bg-white p-md-3 px-0">
                <div class="row">
                    <div class="col-md-9 order-md-2 order-1">
                        <div class="border border-muted py-1 mb-3">
                            <h2 class="uk-h5 text-uppercase my-0 gh-header">
                                Chi tiết sản phẩm 1
                            </h2>
                            <div class="gh-body d-md-block p-3">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="img-detailt">
                                            <img src="" alt="" data-src="./dist/images/product/p-2.jpg" uk-img="">
                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <h3 class="my-0 pb-2 product-title uk-text-bold">
                                            Cadisun - Cáp đồng 5 ruột/XLPE/PVC_CXV 3x+2
                                        </h3>
                                        <ul class="nolist d-block pt-2">
                                            <li>
                                                Mã sản phẩm: PVC_CXV
                                            </li>
                                            <li>Trạng thái: Còn hàng</li>
                                            <li>Giá: Liên hệ</li>
                                        </ul>
                                        <a href="#" class="btn btn-danger mt-3">Mua ngay</a>
                                    </div>
                                </div>
                                <div class="d-block">
                                    Cáp đồng 5 ruột/XLPE/PVC_CXV 3x+2
                                    <strong class="d-block">
                                        Tiêu chuẩn áp dụng
                                    </strong>
                                    <span class="d-block">
                                        TCVN 5935-1/IEC 60502-1
                                    </span>
                                    <p>
                                        <strong class="d-block">Tổng quan:</strong>
                                        <ul class="nolist">
                                            <li>+ Quy cach: Cu/XLPE/PVC</li>
                                            <li>+ Ruột dẫn: Đồng 99.99%</li>
                                            <li>+ Số lõi: 2,3,4,5</li>
                                            <li>+ Kết cấu: Nhiều sợi bện tròn/ Tròn có ép nén cấp 2</li>
                                            <li>+ Mặt cắt danh định: Từ 0,75 mm2 đến 800 mm2</li>
                                            <li>+ Điện áp danh định: 0,6/1 KV</li>
                                            <li>+ Nhiệt độ làm việc dài hạn cho phép tối đa: 900c</li>
                                            <li>+ Nhiệt độ cực đại cho phép khi ngắn mạch với thời gian không quá 5 giây: 250 oC</li>
                                            <li>+ Dạng mẫu mã: Hình tròn</li>
                                            <li>+ Quy cách đóng gói: Đóng lô hoặc đóng cuộn theo yêu cầu của khách hàng</li>
                                            <li></li>
                                        </ul>
                                        <p>Ứng dụng: Cáp điện lực 1 đến 5 lỗi, ruột đồng, cách điện XLPE, vỏ bằng nhựa PVC, dùng để truyền tải, phân phối 
                                            điện trong công nghiệp, tần số 50Hz, lắp đặt cố định.
                                        </p>
                                        <p>Ghi chú: Ngoài các quy các nêu trên, CAHI-SUN có thể đáp ứng các yêu cầu khác của khách hàng</p>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 order-md-1 order-2">
                        <%- include('./components/widget.ejs') %>
                    </div>
                </div>
            </div>
        </main>
        <%- include('./layout/footer') %>